@media screen and (max-width: 1024px) {
  .desk,
  .sides,
  #choose-character,
  .scan-robot,
  .emotions,
  .humanize-robot {
    display: none;
  }
  body {
    background-image: url('../images/Factory\ Final\ 1024.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    margin-top: 0;
    margin-left: 0;
    opacity: 0.2;
  }

  /* SECTION 1 */
  .desk-1024 {
    width: 100vw;
    height: 133.5vw;
    display: flex;
    position: absolute;
    overflow: hidden;
  }
  .desk-background-1024 img {
    width: 100.2vw;
    height: 124.32vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    position: absolute;
    margin-top: 0vw;
    margin-left: 0vw;
  }
  .table-1024 {
    width: 100vw;
    height: 131.24vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    position: absolute;
    margin-top: -3.5vw;
    margin-left: 0;
  }
  .desk-side1-1024 {
    width: 3.81vw;
    height: 72.85vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    position: absolute;
    margin-top: 0vw;
    margin-left: 0vw;
  }
  .desk-side2-1024 {
    width: 3.81vw;
    height: 72.85vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    position: absolute;
    margin-top: 0vw;
    margin-left: 96.3vw;
  }
  .desk-close-1024 {
    width: 100vw;
    height: 9.77vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    position: absolute;
    margin-top: 119.5vw;
    margin-left: 0vw;
  }
  .sides-1024 {
    display: flex;
    position: absolute;
  }
  .sidebar1-1024 {
    width: 3.81vw;
    height: 401.66vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 20;
    overflow: hidden;
    margin-left: 0vw;
    margin-top: 72vw;
  }
  .sidebar2-1024 {
    width: 3.52vw;
    height: 401.66vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 20;
    overflow: hidden;
    margin-left: 96.45vw;
    margin-top: 72vw;
  }
  .mechanism1-1024 {
    width: 19.75vw;
    height: 19.26vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 3;
    margin-top: 27vw;
    margin-left: 61vw;
    animation: rotate1 1.5s infinite linear;
    animation-play-state: paused;
  }
  .mechanism1-1024:hover {
    animation-play-state: running;
  }
  .mechanism2-1024 {
    width: 16.82vw;
    height: 16.33vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 3;
    margin-top: 38vw;
    margin-left: 75vw;
    animation: rotate2 2s infinite linear;
    animation-play-state: paused;
  }
  .mechanism2-1024:hover {
    animation-play-state: running;
  }
  .mechanism3-1024 {
    width: 14.57vw;
    height: 14.38vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 3;
    margin-top: 52vw;
    margin-left: 75vw;
    rotate: 25deg;
    animation: rotate3 2.5s infinite linear;
    animation-play-state: paused;
  }
  .mechanism3-1024:hover {
    animation-play-state: running;
  }
  .path-back-1024 {
    width: 19.53vw;
    height: 47.07vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 3;
    margin-top: 24vw;
    margin-left: 7vw;
  }
  .path-moving-1024 {
    width: 19.53vw;
    height: 47.07vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 4;
    margin-top: 24vw;
    margin-left: 7.8vw;
  }
  .lever-1024 {
    width: 14.67vw;
    height: 5.88vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    margin-top: 21vw;
    margin-left: 10.5vw;
  }
  .panel-1024 {
    width: 43.09vw;
    height: 11.94vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 3;
    margin-top: 9vw;
    margin-left: 28vw;
  }
  .nails-1024 {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .nail1-1024 {
    width: 5.65vw;
    height: 5.65vw;
    margin-top: 116.5vw;
    margin-left: 2.7vw;
    position: absolute;
    z-index: 22;
  }
  .nail2-1024 {
    width: 5.65vw;
    height: 5.65vw;
    margin-top: 126.5vw;
    margin-left: 2.7vw;
    position: absolute;
    z-index: 22;
  }
  .nail3-1024 {
    width: 5.65vw;
    height: 5.65vw;
    margin-top: 116.5vw;
    margin-left: 92.5vw;
    position: absolute;
    z-index: 22;
  }
  .nail4-1024 {
    width: 5.65vw;
    height: 5.65vw;
    margin-top: 126.5vw;
    margin-left: 92.5vw;
    position: absolute;
    z-index: 22;
  }
  .name-1024 {
    font-family: 'Roboto Condensed SemiBold';
    font-size: 10.8vw;
    -webkit-text-fill-color: white;
    position: absolute;
    z-index: 4;
    margin-top: 78.5vw;
    margin-left: 18.5vw;
  }
  .create-1024 {
    font-family: 'Roboto Condensed';
    font-size: 4.9vw;
    -webkit-text-fill-color: white;
    position: absolute;
    z-index: 4;
    margin-top: 90vw;
    margin-left: 26.4vw;
  }
  .button-start-1024 {
    width: 25.29vw;
    height: 8.11vw;
    background-color: #45eded;
    border: black 4px solid;
    border-radius: 300px;
    position: absolute;
    margin-top: 103.4vw;
    margin-left: 37.7vw;
    z-index: 5;
  }
  .button-start-1024:hover {
    background-color: #38c2c2;
  }
  .press-start-1024 {
    font-family: 'Roboto Condensed Medium';
    font-size: 4.9vw;
    -webkit-text-fill-color: black;
    position: absolute;
    z-index: 6;
    margin-top: 1.2vw;
    margin-left: 5vw;
    cursor: pointer;
  }
  #typewriter-1024 {
    font-family: 'Arame Mono Stencil', sans-serif;
    font-size: 9vw;
    color: #00ff7f;
    white-space: nowrap;
    position: absolute;
    top: 11.5%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }

  /* SECTION 2 */
  #choose-character-1024 {
    width: 100vw;
    height: 269.7vw;
    background-color: #3e3e6b;
    display: flex;
    position: relative;
    overflow: hidden;
    z-index: -2;
  }
  .heading1-1024 {
    width: 39.75vw;
    height: 11.72vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-top: 137.2vw;
    margin-left: 6.7vw;
  }
  .choose-1024 {
    font-family: 'Roboto Condensed Bold';
    font-size: 4.9vw;
    -webkit-text-fill-color: black;
    position: absolute;
    z-index: 3;
    margin-top: 140.7vw;
    margin-left: 10.9vw;
  }
  .hint-1024 {
    width: 7.4vw;
    height: 7.4vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 139.4vw;
    margin-left: 49.8vw;
  }
  .question1-1024 {
    font-family: 'Roboto Condensed Bold';
    font-size: 4.88vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 140.8vw;
    margin-left: -4.8vw;
    z-index: 5;
  }
  .robo-girl-1024 {
    width: 29.71vw;
    height: 43.07vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 154.6vw;
    margin-left: -40.49vw;
    z-index: 2;
  }
  .robo-boy-1024 {
    width: 26.2vw;
    height: 43.07vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 154vw;
    margin-left: 12.5vw;
    z-index: 2;
  }
  .dog-1024 {
    width: 21.58vw;
    height: 18.65vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 29vw;
    margin-left: -36.49vw;
    z-index: 2;
    display: block;
  }
  .robo-alien-1024 {
    width: 28.81vw;
    height: 39.45vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -39vw;
    margin-left: 0.5vw;
    z-index: 2;
    display: block;
  }
  .select1-1024 {
    width: 24.12vw;
    height: 45.31vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    margin-top: 155vw;
    margin-left: -67vw;
    position: absolute;
    opacity: 0;
  }
  .select2-1024 {
    width: 24.12vw;
    height: 45.31vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: absolute;
    margin-top: 155vw;
    margin-left: -26.5vw;
    opacity: 0;
  }
  .select3-1024 {
    width: 24.12vw;
    height: 45.31vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    margin-top: 204vw;
    margin-left: -67vw;
    display: block;
    position: absolute;
    opacity: 0;
  }
  .select4-1024 {
    width: 24.12vw;
    height: 45.31vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    margin-top: 204vw;
    margin-left: -26.45vw;
    display: block;
    position: absolute;
    opacity: 0;
  }
  .button-confirm-1024 {
    width: 36.13vw;
    height: 8.3vw;
    background-color: #a3a3a3;
    border: black 4px solid;
    border-radius: 300px;
    position: absolute;
    margin-top: 254.3vw;
    margin-left: 32vw;
  }
  .confirm-1024 {
    font-family: 'Roboto Condensed Medium';
    font-size: 4.39vw;
    -webkit-text-fill-color: black;
    position: absolute;
    z-index: 3;
    margin-top: 1.5vw;
    margin-left: 5.6vw;
  }
  /* SECTION 3 */
  .scan-robot-1024 {
    width: 100vw;
    height: 136.56vw;
    background-color: #3e3e6b;
    position: absolute;
    display: flex;
    overflow: hidden;
  }
  .heading2-1024 {
    width: 47.75vw;
    height: 43.72vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10.2vw;
    margin-left: 7vw;
    z-index: 1;
  }
  .do-scan-1024 {
    font-family: 'Roboto Condensed Bold';
    font-size: 4.97vw;
    z-index: 2;
    -webkit-text-fill-color: black;
    margin-top: 9.2vw;
    margin-left: -45.5vw;
  }
  .hint2-1024 {
    width: 7vw;
    height: 7vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 8.2vw;
    margin-left: 5.9vw;
    z-index: 1;
  }
  .question2-1024 {
    font-family: 'Roboto Condensed Bold';
    font-size: 4.9vw;
    z-index: 2;
    -webkit-text-fill-color: black;
    margin-top: 9.2vw;
    margin-left: 60.3vw;
    position: absolute;
  }
  .scan-panel-1024 {
    width: 73.73vw;
    height: 90.23vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 24vw;
    margin-left: 14.3vw;
    z-index: 1;
    position: absolute;
  }
  .scanner-1024 {
    width: 73.73vw;
    height: 18.46vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    position: absolute;
    margin-top: 23vw;
    margin-left: 14.3vw;
  }
  .button-scan-1024 {
    width: 42.97vw;
    height: 9.86vw;
    background-color: #a3a3a3;
    border: black 4px solid;
    border-radius: 300px;
    margin-top: 121.3vw;
    margin-left: -34.5vw;
    z-index: 2;
  }
  .scan-1024 {
    font-family: 'Roboto Condensed Medium';
    font-size: 4.88vw;
    -webkit-text-fill-color: black;
    margin-top: 2.3vw;
    margin-left: 8vw;
  }
  .boy-robo-1024 {
    width: 43.5vw;
    height: 67.03vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    margin-top: 36vw;
    margin-left: -42.5vw;
    position: absolute;
    opacity: 0;
  }
  .girl-robo-1024 {
    width: 43.5vw;
    height: 67.03vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    margin-top: 37.35vw;
    margin-left: -43vw;
    position: absolute;
    opacity: 0;
  }
  .dog-robo-1024 {
    width: 50vw;
    height: 60vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    position: absolute;
    margin-top: 40vw;
    margin-left: -46vw;
    opacity: 0;
  }
  .alien-robo-1024 {
    width: 45vw;
    height: 60vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    position: absolute;
    margin-top: 43vw;
    margin-left: -44vw;
    opacity: 0;
  }
  /* SECTION 4 */
  .emotions-1024 {
    width: 100vw;
    height: 175.09vw;
    background-color: #3e3e6b;
    position: absolute;
    display: flex;
    overflow: hidden;
    margin-top: 100vw;
  }
  .heading3-1024 {
    width: 27.5vw;
    height: 15vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-top: 39.3vw;
    margin-left: 6.6vw;
  }
  .emotions-head-1024 {
    font-family: 'Roboto Condensed Bold';
    font-size: 6.3vw;
    -webkit-text-fill-color: black;
    margin-top: 43.7vw;
    margin-left: 10vw;
    z-index: 2;
  }
  .hint3-1024 {
    width: 8.5vw;
    height: 8.5vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 42.5vw;
    margin-left: 7vw;
    z-index: 1;
  }
  .question3-1024 {
    font-family: 'Roboto Condensed Bold';
    font-size: 4.9vw;
    -webkit-text-fill-color: black;
    z-index: 2;
    margin-top: 44.4vw;
    margin-left: -5.5vw;
  }
  .background-emotions-1024 {
    width: 83.5vw;
    height: 104.79vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    margin-top: 61.4vw;
    margin-left: -34.5vw;
  }
  .preview1-1024 {
    width: 73.73vw;
    height: 51.76vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    margin-top: 65.3vw;
    margin-left: -78.8vw;
  }
  .boy-1024,
  .love-boy-1024,
  .sad-boy-1024,
  .blush-boy-1024,
  .angry-boy-1024,
  .surprised-boy-1024,
  .disgusted-boy-1024 {
    width: 30.29vw;
    height: 48.07vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    margin-top: 67vw;
    margin-left: -51.2vw;
    position: absolute;
    opacity: 0;
  }
  .girl-1024,
  .love-girl-1024,
  .sad-girl-1024,
  .blush-girl-1024,
  .angry-girl-1024,
  .surprised-girl-1024,
  .disgusted-girl-1024 {
    width: 33vw;
    height: 48.07vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    position: absolute;
    margin-top: 66.9vw;
    margin-left: -53vw;
    opacity: 0;
  }
  .doggie-1024,
  .love-doggie-1024,
  .sad-doggie-1024,
  .blush-doggie-1024,
  .angry-doggie-1024,
  .surprised-doggie-1024,
  .disgusted-doggie-1024 {
    width: 45vw;
    height: 47vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    position: absolute;
    margin-top: 67vw;
    margin-left: -59vw;
    opacity: 0;
  }
  .alien-1024,
  .love-alien-1024,
  .sad-alien-1024,
  .blush-alien-1024,
  .angry-alien-1024,
  .surprised-alien-1024,
  .disgusted-alien-1024 {
    width: 35vw;
    height: 45vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    margin-top: 70vw;
    margin-left: -54vw;
    position: absolute;
    opacity: 0;
  }
  .e-button1-1024 {
    width: 15.33vw;
    height: 15.33vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
    margin-top: 122.5vw;
    margin-left: -71.5vw;
  }
  .e-button2-1024 {
    width: 15.33vw;
    height: 15.33vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
    margin-top: 122.5vw;
    margin-left: -43.7vw;
  }
  .e-button3-1024 {
    width: 15.33vw;
    height: 15.33vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
    margin-top: 122.5vw;
    margin-left: -16.9vw;
  }
  .e-button4-1024 {
    width: 15.33vw;
    height: 15.33vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
    margin-top: 144.5vw;
    margin-left: -71.5vw;
  }
  .e-button5-1024 {
    width: 15.33vw;
    height: 15.33vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
    margin-top: 144.5vw;
    margin-left: -43.7vw;
  }
  .e-button6-1024 {
    width: 15.33vw;
    height: 15.33vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
    margin-top: 144.5vw;
    margin-left: -16.9vw;
  }
  .love-1024 {
    width: 10vw;
    height: 4.59vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 3;
    margin-top: 128vw;
    margin-left: -68.8vw;
  }
  .sadness-1024 {
    width: 8.03vw;
    height: 4.88vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 3;
    margin-top: 127.8vw;
    margin-left: -40.1vw;
  }
  .blush-1024 {
    width: 9.79vw;
    height: 5.37vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 3;
    margin-top: 127.8vw;
    margin-left: -14.15vw;
  }
  .anger-1024 {
    width: 8.45vw;
    height: 3.71vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 3;
    margin-top: 150.3vw;
    margin-left: -68vw;
  }
  .surprise-1024 {
    width: 5.86vw;
    height: 4.79vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 3;
    margin-top: 149.95vw;
    margin-left: -39vw;
  }
  .disgust-1024 {
    width: 7.54vw;
    height: 4.98vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 3;
    margin-top: 149.8vw;
    margin-left: -13vw;
  }
  .floating-1024 img {
    transition: opacity 0.5s ease-in-out;
  }
  .heart1-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 3.5vw;
    height: 21.2vw;
    margin-top: 64vw;
    margin-left: -46.5vw;
    z-index: 5;
    animation: float 3s ease-in-out infinite;
    opacity: 0;
  }
  .heart2-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 3.5vw;
    height: 21.2vw;
    margin-top: 68vw;
    margin-left: -31vw;
    z-index: 5;
    animation: float 4s ease-in-out infinite;
    opacity: 0;
  }
  .heart3-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 3.5vw;
    height: 21.2vw;
    margin-top: 76vw;
    margin-left: -44vw;
    z-index: 5;
    animation: float 3.5s ease-in-out infinite;
    opacity: 0;
  }
  .heart4-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 3.5vw;
    height: 21.2vw;
    margin-top: 67vw;
    margin-left: -47.5vw;
    z-index: 5;
    animation: float 3s ease-in-out infinite;
    opacity: 0;
  }
  .heart5-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 3.5vw;
    height: 21.2vw;
    margin-top: 74.5vw;
    margin-left: -29.5vw;
    z-index: 5;
    animation: float 4s ease-in-out infinite;
    opacity: 0;
  }
  .heart6-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 3.5vw;
    height: 21.2vw;
    margin-top: 78vw;
    margin-left: -44vw;
    z-index: 5;
    animation: float 3.5s ease-in-out infinite;
    opacity: 0;
  }
  .heart7-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 3.5vw;
    height: 21.2vw;
    margin-top: 68.5vw;
    margin-left: -56vw;
    z-index: 5;
    animation: float 4s ease-in-out infinite;
    opacity: 0;
  }
  .heart8-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 3.5vw;
    height: 21.2vw;
    margin-top: 76vw;
    margin-left: -48vw;
    z-index: 5;
    animation: float 3s ease-in-out infinite;
    opacity: 0;
  }
  .heart9-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 3.5vw;
    height: 21.2vw;
    margin-top: 60vw;
    margin-left: -47vw;
    z-index: 5;
    animation: float 3s ease-in-out infinite;
    opacity: 0;
  }
  .heart10-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 3.5vw;
    height: 21.2vw;
    margin-top: 66.5vw;
    margin-left: -31.8vw;
    z-index: 5;
    animation: float 4s ease-in-out infinite;
    opacity: 0;
  }
  .heart11-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 3.5vw;
    height: 21.2vw;
    margin-top: 71vw;
    margin-left: -44vw;
    z-index: 5;
    animation: float 3.5s ease-in-out infinite;
    opacity: 0;
  }
  .teardrops-1024 {
    opacity: 0;
    animation-play-state: paused;
    transition: opacity 0.5s ease-in-out;
  }
  .teardrops-1024 [data-emotion='crying-boy'],
  .teardrops-1024 [data-emotion='crying-girl'],
  .teardrops-1024 [data-emotion='crying-dog'],
  .teardrops-1024 [data-emotion='crying-alien'] {
    opacity: 1;
  }
  .tear1-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 1.94vw;
    height: 2.5vw;
    margin-left: -41.5vw;
    margin-top: 82.1vw;
    animation: drop-tear 2s ease-out infinite;
  }
  .tear2-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 1.94vw;
    height: 2.5vw;
    margin-left: -34.5vw;
    margin-top: 84.1vw;
    animation: drop-tear 2.8s ease-out infinite;
  }
  .tear3-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 1.94vw;
    height: 2.5vw;
    margin-left: -41.5vw;
    margin-top: 83.7vw;
    animation: drop-tear 2s ease-out infinite;
  }
  .tear4-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 1.94vw;
    height: 2.5vw;
    margin-left: -34.5vw;
    margin-top: 84.1vw;
    animation: drop-tear 3s ease-out infinite;
  }
  .tear5-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 1.94vw;
    height: 2.5vw;
    margin-left: -50.5vw;
    margin-top: 84.7vw;
    animation: drop-tear 2.5s ease-out infinite;
  }
  .tear6-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 1.94vw;
    height: 2.5vw;
    margin-left: -35.5vw;
    margin-top: 76.7vw;
    animation: drop-tear 3s ease-out infinite;
  }
  .left1-1024,
  .left2-1024,
  .left3-1024,
  .left4-1024,
  .left5-1024,
  .left6-1024,
  .left7-1024,
  .left8-1024,
  .left9-1024 {
    animation: left-stick-rotate 1s ease-in-out infinite;
  }
  .right1-1024,
  .right2-1024,
  .right3-1024,
  .right4-1024,
  .right5-1024,
  .right6-1024,
  .right7-1024,
  .right8-1024,
  .right9-1024,
  .right10-1024,
  .right11-1024,
  .right12-1024 {
    animation: right-stick-rotate 1s ease-in-out infinite;
  }
  .blushing-1024 img {
    transition: opacity 0.5s ease-in-out;
  }
  .left1-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 82.45vw;
    margin-left: -41.3vw;
    opacity: 0;
  }
  .left2-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 82.45vw;
    margin-left: -40.5vw;
    opacity: 0;
  }
  .left3-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 82.45vw;
    margin-left: -42.2vw;
    opacity: 0;
  }
  .right1-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 82.45vw;
    margin-left: -34.7vw;
    opacity: 0;
  }
  .right2-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 82.45vw;
    margin-left: -33.8vw;
    opacity: 0;
  }
  .right3-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 82.45vw;
    margin-left: -32.9vw;
    opacity: 0;
  }
  .left4-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 84.45vw;
    margin-left: -41.3vw;
    opacity: 0;
  }
  .left5-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 84.45vw;
    margin-left: -42.3vw;
    opacity: 0;
  }
  .left6-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 84.45vw;
    margin-left: -43.3vw;
    opacity: 0;
  }
  .right4-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 84.45vw;
    margin-left: -32.7vw;
    opacity: 0;
  }
  .right5-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 84.45vw;
    margin-left: -31.7vw;
    opacity: 0;
  }
  .right6-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 84.45vw;
    margin-left: -30.7vw;
    opacity: 0;
  }
  .right7-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 85vw;
    margin-left: -50.7vw;
    opacity: 0;
  }
  .right8-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 85vw;
    margin-left: -49.7vw;
    opacity: 0;
  }
  .right9-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 85vw;
    margin-left: -48.7vw;
    opacity: 0;
  }
  .left7-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 77.45vw;
    margin-left: -40.3vw;
    opacity: 0;
  }
  .left8-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 77.45vw;
    margin-left: -41vw;
    opacity: 0;
  }
  .left9-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 77.45vw;
    margin-left: -41.7vw;
    opacity: 0;
  }
  .right10-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 77.45vw;
    margin-left: -34vw;
    opacity: 0;
  }
  .right11-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 77.45vw;
    margin-left: -33.3vw;
    opacity: 0;
  }
  .right12-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 0.94vw;
    height: 1.48vw;
    margin-top: 77.45vw;
    margin-left: -32.6vw;
    opacity: 0;
  }
  .left-boy-1024,
  .right-boy-1024,
  .left-girl-1024,
  .right-girl-1024,
  .angry-dog-1024,
  .curved-alien-1024 {
    animation: eyebrow-move 1s ease-in-out infinite;
    animation-play-state: paused;
    transition: opacity 0.5s ease-in-out;
  }
  .angry-boy-1024,
  .angry-girl-1024,
  .angry-alien-1024 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .left-boy-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 2.33vw;
    height: 2.03vw;
    margin-top: 75.5vw;
    margin-left: -41.3vw;
    opacity: 0;
  }
  .right-boy-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 2.33vw;
    height: 2.03vw;
    margin-top: 75.5vw;
    margin-left: -35.5vw;
    opacity: 0;
  }
  .left-girl-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 2.33vw;
    height: 2.03vw;
    margin-top: 76.5vw;
    margin-left: -41.3vw;
    opacity: 0;
  }
  .right-girl-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 2.33vw;
    height: 2.03vw;
    margin-top: 76.5vw;
    margin-left: -35vw;
    opacity: 0;
  }
  .angry-dog-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 2.33vw;
    height: 2.03vw;
    margin-top: 78.6vw;
    margin-left: -51vw;
    opacity: 0;
  }
  .curved-alien-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 3.33vw;
    height: 3.03vw;
    margin-top: 69.5vw;
    margin-left: -38.2vw;
    opacity: 0;
  }
  .surprise-boy-1024,
  .surprise-girl-1024,
  .surprise-dog-1024,
  .surprise-alien-1024 {
    animation: surprise-scale 1.5s ease-in-out infinite;
    animation-play-state: paused;
    transition: opacity 0.5s ease-in-out;
  }
  .surprise-boy-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 1.17vw;
    height: 1.17vw;
    margin-top: 82.5vw;
    margin-left: -37.85vw;
    opacity: 0;
  }
  .surprise-girl-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 1.17vw;
    height: 1.17vw;
    margin-top: 84.5vw;
    margin-left: -37.3vw;
    opacity: 0;
  }
  .surprise-dog-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 1.17vw;
    height: 1.17vw;
    margin-top: 85.5vw;
    margin-left: -55.3vw;
    opacity: 0;
  }
  .surprise-alien-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 3.17vw;
    height: 2.17vw;
    margin-top: 78vw;
    margin-left: -38.3vw;
    opacity: 0;
  }
  .disgust-boy-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 6.39vw;
    height: 1.78vw;
    margin-top: 82.3vw;
    margin-left: -40.35vw;
    opacity: 0;
  }
  .disgust-girl-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 6.39vw;
    height: 1.78vw;
    margin-top: 84vw;
    margin-left: -39.95vw;
    opacity: 0;
  }
  .disgust-dog-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 6.39vw;
    height: 1.78vw;
    margin-top: 85vw;
    margin-left: -58vw;
    opacity: 0;
  }
  .disgust-alien-1024 {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 5;
    width: 6.39vw;
    height: 1.78vw;
    margin-top: 77.8vw;
    margin-left: -39.95vw;
    opacity: 0;
  }

  /* SECTION 5 */
  .humanize-robot-1024 {
    width: 100vw;
    height: 404vw;
    display: flex;
    overflow: hidden;
    background-color: #3e3e6b;
    margin-top: 100vw;
  }
}
