@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes scan {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(30vw);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1vw);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes drop-tear {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    transform: translateY(0.5vw);
    opacity: 1;
  }
  70% {
    transform: translateY(3vw);
    opacity: 1;
  }
  90% {
    transform: translateY(4vw);
    opacity: 0;
  }
  100% {
    transform: translateY(4vw);
    opacity: 0;
  }
}
@keyframes left-stick-rotate {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes right-stick-rotate {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes eyebrow-move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.3vw);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes surprise-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes disgust-mouth {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1) rotate(-2deg);
  }
  100% {
    transform: scale(1);
  }
}
