@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes appear1 {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  25% {
    opacity: 1;
    animation-timing-function: ease-in;
  }
  50% {
    opacity: 1;
    animation-timing-function: ease;
  }
  75% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  100% {
    opacity: 0;
    animation-timing-function: ease-out;
  }
}
