@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto Condensed Medium';
  src: url('../fonts/RobotoCondensed-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto Condensed SemiBold';
  src: url('../fonts/RobotoCondensed-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
